# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (do NOT upload raw images/videos)
data/
verified_backhands/
alcaraz.mp4
test_video.mp4
r.mp4
backhand_clips/

# OS files
.DS_Store

.idea/

# Models & weights
pose_landmarker_full.task
image_expert_v1.h5
image_expert_v2.keras

