streamlit==1.27.2

# CORE
numpy==1.24.3
opencv-python-headless==4.9.0.80

# ML
tensorflow==2.13.1
mediapipe==0.11.1
scikit-learn==1.3.2
joblib==1.3.2
tqdm==4.66.1
psutil==5.9.5

# Video IO
imageio==2.31.2
imageio-ffmpeg==0.4.10
